div.ui.container{
  width: 95%
}

.ui.form .fields{
  justify-content: center;
}

.ui.form .equal.width.fields{
  margin: 0;
}

.center.aligned.row.searchPage{
  padding-bottom: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.RenderSearchData {
  border: 1px solid black
}

img.iconImage {
  width: 40px;
  height: 40px;
  border-radius: 40%
}
.icons{
  font-size: 20px;
}

.scrollit {
  overflow: auto;
  height: 85%;
  width: 100%;
}

.placeImage{
  /* max-height: 100%; */
  max-width: 80%;
}

.carouselImages{
  max-width: 60%;
  /* max-height: 50%; */
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.side-crop { max-height: 270px; overflow: hidden;}
.side-crop img { max-height: initial; }
/* .side-crop img { height: 200px; width: 200px; } 

/* .carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
} */

/* .carousel .slide img {
  max-height: 250px;
  max-width: 300px;
  /* change this to whatever you want */
  /* width: auto; */


div.ui.comments{
  max-width: 100%;
}

/* div.ui.segment.listPlaces{
  height: 80%;
  overflow-y: scroll;
} */

/* visited link */
#listData a:visited {
  color: green;
}

/* selected link */
#listData a:active {
  color: blue;
}

/* div#myPage{
  width: 70%;
  padding-left: 200px;
} */